<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:p="http://www.springframework.org/schema/p"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/mvc
		http://www.springframework.org/schema/mvc/spring-mvc.xsd
		http://www.springframework.org/schema/context
		http://www.springframework.org/schema/context/spring-context.xsd
		http://www.springframework.org/schema/aop
		http://www.springframework.org/schema/aop/spring-aop.xsd
		http://www.springframework.org/schema/tx
		http://www.springframework.org/schema/tx/spring-tx.xsd ">

    <!-- 组件扫描 -->
    <context:component-scan base-package="com.otc.common.api.interceptor.logger"/>
    <aop:aspectj-autoproxy proxy-target-class="true"/>
    <!-- 会自动注册了validator ConversionService -->
    <mvc:annotation-driven>
        <!-- 强化参数接收
        <mvc:argument-resolvers>
            <bean class="org.durcframework.common.form.FormModelMethodArgumentResolver" />
        </mvc:argument-resolvers>
        -->

        <mvc:message-converters register-defaults="true">
            <bean class="org.springframework.http.converter.json.MappingJackson2HttpMessageConverter">
                <property name="objectMapper">
                    <bean class="com.fasterxml.jackson.databind.ObjectMapper" p:serializationInclusion="NON_NULL">
                        <!-- 处理ResponseBody 里面日期类型 -->
                        <property name="dateFormat">
                            <bean class="java.text.SimpleDateFormat">
                                <constructor-arg type="java.lang.String" value="yyyy-MM-dd HH:mm:ss"/>
                            </bean>
                        </property>
                    </bean>
                </property>
            </bean>
        </mvc:message-converters>
    </mvc:annotation-driven>
    <context:component-scan base-package="com.otc.api.console.ctrl"/>

    <!-- 自定义注册属性编辑器 -->

    <!-- 忽略静态资源-->
    <mvc:resources mapping="/upload/file/**" location="/upload/file/"/>
    <mvc:default-servlet-handler/>

    <!-- 视图解析器 -->
    <bean
            class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <!-- 将jstl的jar包加入工程，默认支持jstl -->
        <!-- 前缀和后缀可以去掉的，为了方便开发才加的 -->
        <property name="prefix" value="/WEB-INF/jsp/"/>
        <property name="suffix" value=".jsp"/>
    </bean>

    <!-- 配置不经过controller的页面-->
    <!--<mvc:view-controller path="index" view-name="customer/customermgr"/>-->

    <!-- 统一异常处理类 -->

    <!-- 文件上传 -->
    <bean id="multipartResolver"
          class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
        <property name="maxUploadSize">
            <value>52428800</value>
        </property>
        <property name="maxInMemorySize" value="500" />
    </bean>

    <!--拦截器 -->
    <mvc:interceptors>
        <!--多个拦截器,顺序执行 -->
        <mvc:interceptor>
            <!-- /**可以拦截路径不管多少层 -->
            <mvc:mapping path="/**"/>
            <bean class="com.otc.common.api.interceptor.CORSInterceptor"/>
        </mvc:interceptor>
    </mvc:interceptors>

</beans>
